.chat-container {
  align-content: center;
  width: 100%;
  margin: 0 auto; 
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.user {
  text-align: right;
  background: #d1e7ff;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
}

.Jarvis {
  text-align: left;
  background: #f1f1f1;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
}

.input-area {
  display: flex;
  padding: 10px;
  gap: 10px;
}

input {
  flex: 1;
  padding: 5px;
  
}

.spinner {
  align-items: center;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-top: 2px solid #555;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
